ul {
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: black;
    padding: 10px;
}
ul li{
    list-style-type: none;
}

main {
    

}

h1 {
    color: rgb(30, 3, 39);
}

.comment {
   
    border-bottom: 2px solid #1c0a35;
    padding: 20px;
    margin-bottom: 20px;
}

.comment h3 {
    color: black;
}

.comment h5 {
    color: rgb(224, 16, 16);
    font-size: 19px;
}

.comment p {
    color: rgb(16, 23, 224);

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    /* padding: 10px; */

}